apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus-main-001 
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"    
      httpMethod: "POST"     